[Unit]
Description=Block 
After=update-upgrade.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'sed -Ezi.bak "s/(function\(orig_cmd\) \{)/\1\n\torig_cmd\(\);\n\treturn;/g" /usr/share/javascript/proxmox-widget-toolkit/proxmoxlib.js && systemctl restart pveproxy.service'